<div class="header">
  <div class="logo">
  <img [src]="imageUrl" class="logoheader" decoding="async" alt="Logo Colabore">
  </div>
  <nav>
    <a class="menus" href="#">Inicial</a>
    <a class="menus" href="#">Currículos</a>
    <a class="menus" href="#">Perfil</a>
    <a class="menus" href="#">Sair</a>
  </nav>
</div>

<div class="content">

  <div class="new-post">

    
<div class="iconPerfil"></div>

    <input type="text" placeholder="Faça uma postagem..." />
    
    <div class="post-options">
      <button>Photo</button>
      <button>Video</button>
    </div>
  </div>

  <!-- <div class="feed">
    <div class="post">

      <div class="user-info">
        <span>Nome user</span>
      </div>

      <div class="post-content">
        <p>...</p>
      </div>

      <div class="post-actions">
        <button>Like</button>
        <button>Comment</button>
        <button>Share</button>
      </div>

    </div>
  </div>  -->

</div>
