/* Estilo para o cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bdd3d9; /* Ajuste para a cor do fundo do header */
    padding: 8px 30px;
    width: 100%;
  }
  
  .menus {
   color: white;
   padding: 60px;
   font-size: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 500;
  }

  .logoheader{
    width: 50px;
    height: 50px;
    position: absolute;
  }

  .new-post {
    background-color: #F3F3F3;
    padding: 30px;
    margin-top: 40px;
    margin-left: 15px;
    width: 380px;
    height: 80px;
    margin-right: 20px;
    border-radius: 30px;
  }

  .iconPerfil{
    width: 42px;
    height: 42px;
    border: 1px solid black;
    border-radius: 80px;
    background-color: #bdd3d9;
    position: absolute;
  }

  .new-post input[type="text"] {
    width: 80%;
    height: 15%;
    padding: 10px;
    border: none;
    margin-left: 50px;
    background-color: #bdd3d9;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .content {
    display: flex; /* Exibe os elementos filhos (new-post e feed) lado a lado */
    justify-content: space-between;
    padding: 10px;
    gap: 1px; /* Espaço entre as colunas */
  }

  .post{
    background-color: #F3F3F3;
    width: 400px;
    height: 220px;
    border-radius: 20px;
  }
  
 .feed {
  flex: 2;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.nomeUser{
  font-size: 10px;
  padding: 5px;
  padding-left: 60px;
}